<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.mi
	n.css"/>
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min
	.css">
	<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.mi
	n.css" rel="stylesheet"/>
	<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&displ
	ay=swap" rel="stylesheet"/>
	<!-- AOS animate on scroll -->
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" href="/images/images.png">
	<title>Fly Booking | <%=title%></title>

