<nav>
	<input type="checkbox" id="nav-check">
	<div class="site-title">
		<div class="part1-parent">
			<i class="fa-solid fa-plane fa-xl" style="color: #f1667d;"></i> 
			<a href="/"><h1>Fly Booking</h1></a>
		</div>
		<p>Book your flight now</p>
	</div>
	<div class="nav-btn">
		<label for="nav-check">
		  <span></span>
		  <span></span>
		  <span></span>
		</label>
	  </div>
	<ul>
		<li><a href="/"><i class="fa-solid fa-house fa-xl" style="color: #dddddf;"></i></a></li>
		<li><a href="/search"><i class="fa-solid fa-magnifying-glass fa-xl style="color: #dddddf;""></i></a></li>
		<% if(user){ %>
		<li class="welcomeName">Welcome <%=user.name%></li>
		<li><a class="underline" href="/tickets"><button type="button" class="btn btn-outline-warning "style="padding:4% 15%;">Tickets</button></a></li>
		<li><a class="underline" href="/logout" onclick="return confirm('Are you sure you want to logout?');"><button type="button" class="btn btn-outline-primary" style="padding:4% 15%;">Logout</button></a></li>
		<% } else{ %>
			<li><a class="underline" href="/login"><button type="button" class="btn btn-outline-primary "style="padding:4% 15%;">Login</button></a></li>
			<li><a class="underline" href="/signup"><button type="button" class="btn btn-primary " style="padding:4% 15%;">Signup</button></a></li>
		<% } %>
	</ul>
</nav>
