<html lang="en">
	<%- include('./partials/head.ejs') %>
	<link rel="stylesheet" href="/css/404.css">
	</head>
<body>
	<%- include('./partials/nav.ejs') %>
	<div class="content noFlights">
		OOPS, page not found 
	</div>
	<div class="flights-footer">
		<%- include('./partials/footer.ejs') %>
	</div>
</body>
</html>
